<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>ajax</h1>
</body>
<script>
    let req = {
        url:'/ajax',
        method:'GET',
        async:true,
        body:'',
        header:{},
        succeed:(data)=>{console.log(JSON.parse(data))},
        fail:(err)=>{console.log(err)}

    }
    const ajax = function (req, succeed, fail) {
        let xmlhttp = new XMLHttpRequest()
        console.log(xmlhttp)
        xmlhttp.open(req.method,req.url,req.async)
        xmlhttp.send(req.body)
        xmlhttp.onreadystatechange = () => {
            if (xmlhttp.readyState == 4) {
                if (xmlhttp.status == 200) {
                    req.succeed(xmlhttp.responseText)
                }else{
                    req.fail(xmlhttp.status)
                }
            }
        }
    }
    ajax(req)

</script>

</html>